*{
	margin: 0;
	padding: 0;
}

html{
    background-image: url("../images/bg.jpg");
}

header{
    text-align: center;
    padding: 1em;
}

body {
	font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
	width: 98%;
	max-width: 960px;
	margin: 0 auto;
	border: 3px solid maroon;
	background-color: #fffded;
}

main{
    padding: 2.5em;
}

#nav_menu ul{
	margin: 0;
	padding: 0;
	list-style-type: none;
	position: relative;
}

#nav_menu ul li{
	float: left;
	width: 25%;
}

#nav_menu ul li a{
	display: block;
	padding: 1em 0;
	text-align: center;
	text-decoration: none;
	background-color: #800000;
	color: white;
	font-weight: bold;
}

#nav_menu ul li a.current{
	color: yellow;
}


#mobile_menu {
	display: none;
}

/* tablet portrait to standard 960 */
@media only screen and (max-width: 959px) {
	section h1 { font-size: 135%; }
	section h2, aside h2 { font-size: 120%; }
}

/* mobile landscape to tablet portrait */
@media only screen and (max-width: 767px) {
	header img { float: none; }
	header { text-align: center; }
	section {
		float: none;
		width: 95%;                     /* 100 - (2 x 2.5) for padding */
	}
	aside {
		float: none;
		padding-right: 2.5%;           /* 20 / 800 x 100 */
		width: 95%;                    /* 100 - (2 x 2.5) for padding */
	}
	article img { max-width: 30%; }
	#speakers {
		-moz-column-count: 2;
		-webkit-column-count: 2;
		column-count: 2;
	}
	#nav_menu {
		display: none;
	}
	#mobile_menu {
		display: block;
	}
	.slicknav_menu {
		background-color: #800000 !important;
	}
}

/* mobile portrait to mobile landscape */
@media only screen and (max-width: 479px) {
	body { font-size: 90%; }
}


